RewriteEngine on
RewriteCond $1 !^(index\.php|uploads|images|public|robots\.txt)
RewriteRule ^(.*)$ /jhomein/index.php/$1 [L]

Options -Indexes
ErrorDocument 403 /403.html

<IfModule mod_deflate.c>
<FilesMatch "\.(html|txt|css|js|php|pl)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
    Header set Pragma "no-cache"
</IfModule>
