RewriteEngine on
RewriteCond $1 !^(index\.php|uploads|images|public|robots\.txt)
RewriteRule ^(.*)$ /jhomein/index.php/$1 [L]

<IfModule mod_deflate.c>
<FilesMatch "\.(html|txt|css|js|php|pl)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>