body { 
	padding-top: 70px; 
	background: #EEEEEE;
	padding-top: 50px;
}

.nav-home {
	background-color: #BDBDBD !important;
}

.nav-home ul li a {
	color: white !important;
	font-weight: bolder;
	text-transform: uppercase !important;
}

.nav-navigate {
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
}

.nav-navigate ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.nav-navigate ul li {
	display: inline-block;
	margin: 7px 6px;
	font-size: 18px;
}


.nav-navigate ul li:nth-of-type(1) a:focus {
	border-bottom: 3px solid #40731E;
}

.nav-navigate ul li:nth-of-type(2) a:focus {
	border-bottom: 3px solid orange;
}

.nav-navigate ul li:nth-of-type(3) a:focus {
	border-bottom: 3px solid blue;
}

.nav-navigate ul li a{
	color: grey;
	font-weight: bolder;
	text-decoration: none;
	padding: 5px 10px;
}

.mdl-tabs__tab-bar a {
	text-decoration: none;
	padding: 5px 10px;
}

.mdl-tabs__tab-bar a:hover {
	color: black;
}